.halk{
    width:100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.halk .center .menu{
   display: flex;
   gap:20px;
   align-items: center;
}

.halk .center{
    width:1170px;
    display:flex;
    align-items: center;
    height:45px;
    
}
.halk .center .link ul{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin:0px 100px;
    gap:40px;
    list-style:none;
}
.lin{
    list-style:none;
}
a{
    text-decoration:none;
    color:black;
}